<a href="https://colab.research.google.com/github/MZishan91/python_learning_in_colab/blob/main/loops_and_itrations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops and Itration

Loops in Python are used to repeatedly execute a block of code. Python primarily offers two types of loops: for loops and while loops.
1. for Loop:
The for loop is used to iterate over a sequence (such as a list, tuple, string, or range) or other iterable objects. It executes a block of code once for each item in the sequence.
2. while Loop:
The while loop repeatedly executes a block of code as long as a specified condition remains true.

In [ ]:
for variable in sequence:
    # code to be executed for each item

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
while condition:
    # code to be executed as long as the condition is true

SyntaxError: incomplete input (ipython-input-2875238162.py, line 2)

In [ ]:
cont = 0
while cont < 5:
    print(cont)
    cont += 1

0
1
2
3
4

In [ ]:
#give me a program to find factors uing loop

_num=int(input())
for i in range(1,_num+1):
  if _num%i==0:
    print(i)

15
1
3
5
15

In [ ]:
#print each even and odd in the list
li=eval(input())
for i in li:
  if i%2==0:
    print(f"{i}-even")
  else:
    print(f"{i}-odd")

[12,2,12,12,12,13,4,32,23,4,12,3,3,3,3,3,5,4,3]
12-even
2-even
12-even
12-even
12-even
13-odd
4-even
32-even
23-odd
4-even
12-even
3-odd
3-odd
3-odd
3-odd
3-odd
5-odd
4-even
3-odd

In [ ]:
#accumlat the all even numbers fron the given list
li=eval(input())
even_total=0
for i in li:
  if i%2==0:
    even_total+=i
print(even_total)

[1,2,3,5]
2

In [ ]:
#calcucalte the sum of all sqr of the mun in the range of 1-n using loop
n=int(input('enter the value of range : '))
total_sum=0
for i in range(1,n+1):
  total_sum+=i**2
print(f"totol sum all sqr in the range of 1-{n} : {total_sum}")

enter the value of range : -3
totol sum all sqr in the range of 1 - -3 : 0

In [ ]:
#calsulat the sum of num from 1-n using a loop
# 1/1^3 + 1/2^2 + 1/3^3......
#even = square
#odd = cube

n=int(input("enter the value of range : "))

even_squre_sum=0
odd_cube_sum=0

for i in range(1,n+1):
  if i%2==0:
    even_squre_sum+=(1)/i**2
  else:
    odd_cube_sum+=(1)/i**3
print(even_squre_sum+odd_cube_sum)

enter the value of range : 4
1.349537037037037

In [ ]:
#find the factoral of the num using loops

n=int(input('enter the value to find factorals : '))

_fact=1
if n >=0:
   for i in range(1,n+1):
      _fact*=i
   print(f"factoral of the {n} is : {_fact}")
else:
  print('Enter the value wich is >=0')

enter the value to find factorals : -2
Enter the value wich is >=0

In [ ]:
#write a program that takes as an integer and check wheather is is prmie number or not

n=int(input('Enter the num : '))
if n>1:
  _count=0
  for i in range(2,n):
    if n%i==0:
      _count+=1
      break

  if _count==0:
      print(f"{n} is a prime number")
  else:
     print(f"{n} is not a prime number")
# '''
#     other approach
# n=int(input('Enter the num : '))
# if n>1:
#   for i in range(2,n):
#     if n%i==0:
#       print(f"{n} is not a prime number")
#       break
#   else:
#     print(f"{n} is a prime number")

# '''

Enter the num : 24143
24143 is not a prime number

In [ ]:
#q8 : for any num print the total sum of the digits
#INPUT :  123 output: 1+2+3=6
n=int(input('enter the num : '))

_sum=0
for i in str(n):
  _sum+=int(i)
print(_sum)

'''while n>0:
  _sum+=n%10 #123/10 >12 then 12/10 then sum=6
  n//=10
print(_sum)


For example, if the input is 123:

Initially, n = 123 and _sum = 0.
In the first iteration, n % 10 is 3, so _sum becomes 0 + 3 = 3. n becomes 123 // 10 = 12.
In the second iteration, n % 10 is 2, so _sum becomes 3 + 2 = 5. n becomes 12 // 10 = 1.
In the third iteration, n % 10 is 1, so _sum becomes 5 + 1 = 6. n becomes 1 // 10 = 0.
The loop condition n > 0 is now false, so the loop terminates.
The code prints the final value of _sum, which is 6.
'''

enter the num : 12345
15

'while n>0:\n  _sum+=n%10 #123/10 >12 then 12/10 then sum=6\n  n//=10\nprint(_sum)\n\n\nFor example, if the input is 123:\n\nInitially, n = 123 and _sum = 0.\nIn the first iteration, n % 10 is 3, so _sum becomes 0 + 3 = 3. n becomes 123 // 10 = 12.\nIn the second iteration, n % 10 is 2, so _sum becomes 3 + 2 = 5. n becomes 12 // 10 = 1.\nIn the third iteration, n % 10 is 1, so _sum becomes 5 + 1 = 6. n becomes 1 // 10 = 0.\nThe loop condition n > 0 is now false, so the loop terminates.\nThe code prints the final value of _sum, which is 6.\n'

In [ ]:
#10
#write the cose that itrate thruge the list using enumrate(), If an item is out of use the sount statment to skip the printing that item, Otherwise, printn the index and the name.
#shopping_list= ['apple',None,'bread','milk',None,'eggs']
#note : using level two unpacking


shopping_list=eval(input())
for i,j in enumerate(shopping_list):
  if j==None:
    continue
  print(f"{i}-{j}")

['apple',None,'bread','milk',None,'eggs']
0-apple
2-bread
3-milk
5-eggs

#pattern using Loops

In [ ]:
#write the rpogram to print the following pattern
'''
*
**
***
****
'''

#reapitation using a*6
# it is giving aaaaaa
n=int(input("enter the depth of the pattern"))
for i in range(1,n+1):
  print('*'*i)

enter the depth of the pattern12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [ ]:
#solve the dimond pattern
'''

   *
  * *
*  *  *
  * *
   *

   '''

In [ ]:
#12
'''
looping over the dictionary and find the defavtive product
'''
_dict={'product A':False,'Product B':True,'Product C':False,'product D':False}
#find the defective product

for _product,_status in _dict.items(): # .item() > list of tup [('product A', True)...]
  if _status==False:
    print(_product)

product A
Product C
product D

In [ ]:
#13
'''
find the link not working from th log data
'''
log_data={'/home':200,'/home/product':200,'/home/product/electronincs':404,'/home/product/general':200}

for _link,_link_status in log_data.items():
   if _link_status==404:
      print(_link)

/home/product/electronincs

In [ ]:
'''
find the longest word ing the sentense
sentence= find the longest word ing the sentene
'''

sentence=input("Enter the Sentence : ")
sentence_words=sentence.split()
#print (sentence_word)
longest_word=sentence_words[0] #assumption

for _word in sentence_words:
  if(len(_word)>len(longest_word)):
    longest_word=_word
print(f"your longest word n the sentence is : {longest_word}")

Enter the Sentence : find the longest word ing the sentence
your longest word n the sentence is : sentence

In [ ]:
#write the program to count the vovels in the string
string=input()
_count=0
for i in string:
  if i.lower() in 'aeiou':
    _count +=1 # to count the vowels in the string
print(_count)

The quick brown fox jumps over the lazy dog
11

In [6]:
#16
'''
create a dict with key as unique char in the string
and value of times char is repeating
input: string 'i am zishan'
output: {'i':1,' ':2,'a':1,'m':1,'z':1,'s':1,'h':1,'n':1}
'''
string=input()
_dict={}
for i in string:
  if i in _dict:
    _dict[i]=_dict[i]+1
  else:
    _dict[i]=1
print(_dict)


'''
anpther a
create a dict with key as unique char in the string
and value of times char is repeating
input: string 'i am zishan'
output: {'i':1,' ':2,'a':1,'m':1,'z':1,'s':1,'h':1,'n':1}

_str=input()
_out={}
for char in _str:_out[char]=_str.count(char);
print(_out)

'''

this is zishan
{'t': 1, 'h': 2, 'i': 3, 's': 3, ' ': 2, 'z': 1, 'a': 1, 'n': 1}

In [ ]:
#17
'''
provide the output as even value in the list as input
list = [1,2,3,4,5,6,7,8,9]
output: [2,4,6,8]
'''
_li= eval(input())
_out_li=[]
for i in _li:
   if i%2==0:
    _out_li.append(i)
print(_out_li)

[12,2,12,12,12,13,4,32,23,4,12,3,3,3,3,3,5,4,3]
[12, 2, 12, 12, 12, 4, 32, 4, 12, 4]

In [ ]:
#find the consonent in the geven word
_word=input()
_cons=''
for i in _word:
  if i.lower() not in 'aeiou':
    _cons+=i
print(_cons)

Zishan
zshn

In [5]:
#18
'''
create a dict with key as unique char in the string
and value of times char is repeating
input: string 'i am zishan'
output: {'i':1,' ':2,'a':1,'m':1,'z':1,'s':1,'h':1,'n':1}
'''
_str=input()
_out={}
for char in _str:_out[char]=_str.count(char);
print(_out)

this is zishan
{'t': 1, 'h': 2, 'i': 3, 's': 3, ' ': 2, 'z': 1, 'a': 1, 'n': 1}

In [7]:
# Q
'''
print the vowel or consonant in the word
input : word= 'zishan'
output: z is consonant
        i is vowel
        s is consonant
        h is consonant
        a is vowel
        n is consonant
'''

_word=input()

for char in _word:
  if char.lower() in 'aeiou':
    print(f"{char} is Vowel")
  else:
    print(f"{char} is Consonant")

zishan
z is Consonant
i is Vowel
s is Consonant
h is Consonant
a is Vowel
n is Consonant

In [25]:
#Q for any num print the total sun of applying the logic of "if" num is even do sqr else cube
# input : 123
#output : 1^3+2^2+3^3=27
n=input()
_out=0
_sum=0
for num in n:
  if int(num)%2==0:
    #print(int(num)**2)
    _out+=(int(num)**2)
  else:
    _out+=(int(num)**3)
    #print(int(num)**3)
print(_out)

467
395

In [54]:
'''
Q
case study question: Discount calculater
you are working for an e-commerce website.
create a program that calculates the total cost of items in a shopping cart applying discount
using a for loop to itrate through the cart and apply the folloing discount
#10% off for the cost between $10-$50
#20% off for the cost more than $50
#No discount for item costhing less than $10.


expected output:
cart: [7,15,35,80,5] = 121.0
cart: [7,8,2]=17
'''

_cart=eval(input())
_t=0
for _item in _cart:
  if _item>10 and _item<50:
    _t+=_item-((_item/100)*10)

  elif _item>50:
    _t+=(_item-(_item/100)*20)
  else:
    _t+=_item
print(_t)

[7,15,35,80,5]
121.0

In [60]:
'''
Q
the fibbonacci sequence of numbers where each number is
the sum of the priceding once strating from 0 and 1
the seriece begins as follows:

input: 5 output: 0 1 1 2 3 5

'''

n=int(input())
_out=[0]
for i in range(n+1):
  _out.append()
print(_out)

5
[0, 0, 1, 3, 6, 10, 15]

In [1]:
# Get the year as input from the user and convert it to an integer
year = int(input())

# Get the month as input from the user and convert it to an integer
month = int(input())

# Get the day as input from the user and convert it to an integer
day = int(input())

# Check if the year is a leap year
# A leap year is divisible by 400, or divisible by 4 but not 100
if (year % 400 == 0):
  leap_year = True  # If divisible by 400, it's a leap year
elif (year % 100 == 0):
  leap_year = False  # If divisible by 100 but not 400, not a leap year
elif (year % 4 == 0):
  leap_year = True  # If divisible by 4 but not 100, it's a leap year
else:
  leap_year = False  # Otherwise, it's not a leap year

# Determine the number of days in the given month
if month in (1, 3, 5, 7, 8, 10, 12):
  month_length = 31  # Months with 31 days
elif month == 2:
  if leap_year:
    month_length = 29  # February in a leap year has 29 days
  else:
    month_length = 28  # February in a common year has 28 days
else:
  month_length = 30  # Other months have 30 days

# Check if it's possible to increment the day
if day < month_length:
  day += 1  # If the current day is less than the max days in the month, increment the day
else:
  # If it's the last day of the month
  day = 1  # Reset the day to 1 (start of the next month)
  if month == 12:
    # If it's December, move to the next year
    month = 1  # Reset month to January
    year += 1  # Increment the year by 1
  else:
    month += 1  # Otherwise, just move to the next month

# Print the next date in the format [yyyy-mm-dd]
print ("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

2028
12
31
The next date is [yyyy-mm-dd] 2029-1-1.

In [15]:
#Q
#print * piramid pattern
depth = int(input("Enter the depth of the pyramid: "))

# Upper part of the diamond (pyramid shape)
for i in range(depth):
    print(" " * (depth - i - 1), "*" * (2 * i + 1))

Enter the depth of the pyramid: 5
     *
    ***
   *****
  *******
 *********

In [16]:
depth = int(input("Enter the depth of the pyramid: "))

# Upper part of the diamond (pyramid shape)
for i in range(depth):
    print(" " * (depth - i - 1), "*" * (2 * i + 1))

# Lower part of the diamond (inverted pyramid shape)
for i in range(depth - 1):
    print(" " * (i + 1), "*" * (2 * (depth - i - 1) - 1))

Enter the depth of the pyramid: 5
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [5]:

import math
s = input()

if len(s)%2==0:
    l=len(s)/2
    l=int(l)
    n_s=s[:l]
    n_s=n_s+n_s[l::-1]
    print(n_s)
else:
    l=math.floor(len(s)/2)
    l=int(l)
    n_s=s[:l]
    n_s=n_s+s[l]+n_s[l::-1]
    print(n_s)

parad
parap