<a href="https://colab.research.google.com/github/MZishan91/python_learning_in_colab/blob/main/loops_and_itrations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops and Itration

Loops in Python are used to repeatedly execute a block of code. Python primarily offers two types of loops: for loops and while loops.
1. for Loop:
The for loop is used to iterate over a sequence (such as a list, tuple, string, or range) or other iterable objects. It executes a block of code once for each item in the sequence.
2. while Loop:
The while loop repeatedly executes a block of code as long as a specified condition remains true.

In [ ]:
for variable in sequence:
    # code to be executed for each item

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
while condition:
    # code to be executed as long as the condition is true

SyntaxError: incomplete input (ipython-input-2875238162.py, line 2)

In [ ]:
cont = 0
while cont < 5:
    print(cont)
    cont += 1

0
1
2
3
4

In [11]:
#give me a program to find factors uing loop

_num=int(input())
for i in range(1,_num+1):
  if _num%i==0:
    print(i)

15
1
3
5
15

In [13]:
#print each even and odd in the list
li=eval(input())
for i in li:
  if i%2==0:
    print(f"{i}-even")
  else:
    print(f"{i}-odd")

[12,2,12,12,12,13,4,32,23,4,12,3,3,3,3,3,5,4,3]
12-even
2-even
12-even
12-even
12-even
13-odd
4-even
32-even
23-odd
4-even
12-even
3-odd
3-odd
3-odd
3-odd
3-odd
5-odd
4-even
3-odd

In [16]:
#accumlat the all even numbers fron the given list
li=eval(input())
even_total=0
for i in li:
  if i%2==0:
    even_total+=i
print(even_total)

[1,2,3,5]
2

In [22]:
#calcucalte the sum of all sqr of the mun in the range of 1-n using loop
n=int(input('enter the value of range : '))
total_sum=0
for i in range(1,n+1):
  total_sum+=i**2
print(f"totol sum all sqr in the range of 1-{n} : {total_sum}")

enter the value of range : -3
totol sum all sqr in the range of 1 - -3 : 0

In [25]:
#calsulat the sum of num from 1-n using a loop
# 1/1^3 + 1/2^2 + 1/3^3......
#even = square
#odd = cube

n=int(input("enter the value of range : "))

even_squre_sum=0
odd_cube_sum=0

for i in range(1,n+1):
  if i%2==0:
    even_squre_sum+=(1)/i**2
  else:
    odd_cube_sum+=(1)/i**3
print(even_squre_sum+odd_cube_sum)

enter the value of range : 4
1.349537037037037

In [29]:
#find the factoral of the num using loops

n=int(input('enter the value to find factorals : '))

_fact=1
for i in range(1,n+1):
  _fact*=i
print(f"factoral of the {n} is : {_fact}")

enter the value to find factorals : 5
factoral of the 5 is : 120