<a href="https://colab.research.google.com/github/MZishan91/python_learning_in_colab/blob/main/practice_of_loops_and_itrations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Introduction to Looping Concepts

In [ ]:
# For Loops are used to iterate over a sequence (such as a list, tuple, dictionary, string, or range).
# They allow you to execute a block of code repeatedly for each element in the sequence.

# Key Concepts:

# Iteration: The process of looping through elements of a sequence.
# Loop Variable: The variable that takes the value of each element in the sequence during each iteration.
# Accumulation: Using a secondary variable to collect or accumulate results across iterations.

In [ ]:
# Basic Structure of For loop
for item in sequence:

    # Code block to execute

##### Example 1: Basic For Loop

In [ ]:

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Loop through each number and print it

for i in numbers:
  print(i)

1
2
3
4
5

In [ ]:
# Iterations :
# value of i will change sequentially
# # total number of Iteratios = total elements in the collection of item
# Iteration1 :
# i = 1
# print(i) # 1
# Iteration2 :
# i = 2
# print(i) # 2

# Iteration3 :
# i = 3
# print(i) # 3

# Iteration4 :
# i = 4
# print(i) # 4

# Iteration5 :
# i = 5
# print(i) # 5

# Loop has definite end where your elements in collection of items (Iterables)

In [ ]:
for _v in iterable:

# Variable _v : value will be stored sequentially
# Values will be taken from the iterable : String, List, tuple, set, dictionaries

In [ ]:
a = '5'
for i in a:
  print(i)

5

In [ ]:
a = (3,4,5)
for i in a:
  print(i)

3
4
5

In [ ]:
a = {3,4,5}
for i in a:
  print(i)

3
4
5

In [ ]:
a = {3:4, 7:5}

# By default it takes the keys
for i in a:
  print(i)

3
7

In [ ]:
a.items()

dict_items([(3, 4), (7, 5)])

In [ ]:
for i in a.items():
  print(i)

(3, 4)
(7, 5)

In [ ]:
# List of numbers
numbers = [98, 34, 56, 40, 50, 100]

# Loop through each number and print it
for j in numbers:
  print(j)

98
34
56
40
50
100

In [ ]:
# How many Iterations will run? 6
# Iteration 1 :
# j : 98
# # Iteration 2 :
# j : 34
#...
# j : Will change sequentially
# Once j has reached to the end of iterable -- > Loop will end.

##### Example 2: Using a Secondary Variable to Accumulate Results

In [ ]:
# List of numbers
numbers = [1, 2, 3, 4, 5]
# Sum of total elements
_total = 0 # Initialising the variable // Secondary variable

for i in numbers:
  _total = _total + i # _total += i
# When all iterations are over | accumulation is done final value of _total = 15
print(_total)

15

In [ ]:
# _total = 0
# Iterations : 5
# Iteration 1 :
# i = 1
# total = total + i --> 0 + 1 = 1 | total = 1
# Iteration 2:
# i = 2
# total = total + i --> 1 + 2 = 3 | total = 3
# Iteration 3:
# i = 3
# total = total + i --> 3 + 3 = 6 | total = 6
# Iteration 4:
# i = 4
# total = total + i --> 6 + 4 = 10 | total = 10
# # Iteration 5:
# i = 5
# total = total + i --> 10 + 5 = 15 | total = 15

In [ ]:
# Counting Occurrences of an Element - 'apple'
# List of elements
elements = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
_count = 0
for i in elements: # elements will determine how many iterations will run.
  if i == 'apple':
    _count = _count + 1 # Only run when value of i == 'apple'

print(_count)

3

In [ ]:
# Iterations : 6

# Iteration 1:
# i = 'apple'
# if i == 'apple': # True
    # _count = _count + 1 # _count = 0 +1 = 1 | _count = 1

# Iteration 2:
# i = 'banana'
# if i == 'apple': False
    # _count = _count + 1  # Not be executed

#  Iteration 3:
# i = 'apple'
# if i == 'apple': # True
#     _count = _count + 1 #  1+ 1 | _count = 2

# Iteration 4:
# i = 'orange'
# if i == 'apple': False
    # _count = _count + 1  # Not be executed

# Iteration 5:
# i = 'banana'
# if i == 'apple': False
    # _count = _count + 1  # Not be executed

#  Iteration 6:
# i = 'apple'
# if i == 'apple': # True
#     _count = _count + 1 #  2 + 1 = 3 | _count = 3

##### Example 3 : break & continue in loop

In [ ]:
# The break statement is used to exit a loop early.
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    if i == 3:
        break  # Exit loop when num equals 3
    print(i)

1
2

In [ ]:
# Iterations : 5 : supposed : but it is contingent on the break statement
# Iteration 1:
# i = 1
# if i == 3: False
#         break : Not run
# print(i) --> 1

# Iteration 2:
# i = 2
# if i == 3: False
#         break : Not run
# print(i) --> 2

# # Iteration 3:
# i = 3
# if i == 3: True
        # break # Is executed : your iterations are over
# print(i) --> Nothing will get executed inside for loop once break is executed

In [ ]:
# Using continue in a For Loop
# The continue statement skips the current iteration and moves to the next one.
numbers = [1,2,3,4,5]

for i in numbers:
  if i == 3:
    continue
  print(i)
  # print('hello')

1
2
4
5

In [ ]:
# Iterations : 5
# Iteration 1
# i = 1
# if i == 3: False
#     continue | not be executed
# print(i) --> 1

# # Iteration 2
# i = 2
# if i == 3: False
#     continue | not be executed
# print(i) --> 2

# # Iteration 3
# i = 3
# if i == 3: True
#     continue | is executed | once it is executed not code after the continue : no executed
# print(i) --> | it will not be executed

# Iteration 4
# i = 4
# if i == 3: False
#     continue | not executed
# print(i) --> | 4

# Iteration 5
# i = 5
# if i == 3: False
#     continue | not executed
# print(i) --> | 5

##### Example 4:
Range: Generate sequences of numbers.

Zip: Iterate over multiple sequences.

Enumerate: Get index and value.

In [ ]:
# Using range() with For Loops
# The range() function generates a sequence of numbers,
# which is useful for iterating a specific number of times.
for i in range(2,11): # 2,3,4,...,10 | Sequential number
    print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,11,2): # Step size : 2 | 2,4,6,8,10
    print(i)

# Iteration 1: i = 2
# Iteration 2: i = 4
# Iteration 3: i = 6 ... so on.

2
4
6
8
10

In [ ]:
for i in range(-1,-10,-1): # Start from -1 and go till -10 | Reverse
    print(i)

# Iteration 1: i = -1
# Iteration 2: i = -2
# Iteration 3: i =  -3 ... so on.

-1
-2
-3
-4
-5
-6
-7
-8
-9

In [ ]:
list(range(-1,-10,-1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
# -100 to 10
list(range(-100, 11,1))

In [ ]:
# 10 to -100
# list(range(10, -101,-1))

In [ ]:
# range(10) # Python will understand start from 0 by default and go till 9
# range(5, 10) # Python will understand start from 5 by default and go till 9
#

In [ ]:
list(range(10)) # If no value of i/start is given : by default 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[2, 4, 6, 8]

In [ ]:
# zip() : in built functions & method

list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list(zip(list1,list2)) # 4 elements
# element -- (1,'a')

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Using zip() in a For Loop
# The zip() function allows you to iterate over two or more sequences simultaneously.
amount = [50, 100, 200]
dis = [85, 90, 95]

# list(zip(amount, dis)) # Index wise
# [(50, 85), (100, 90), (200, 95)] --> 3 elements

for i in zip(amount, dis):
  print(i)

# Iteration 1 : i = (50, 85)
# Iteration 2 : i = (100, 90)
# Iteration 3 : i = (200, 95)

(50, 85)
(100, 90)
(200, 95)

In [ ]:
list(zip(amount, dis))

[(50, 85), (100, 90), (200, 95)]

In [ ]:
# level 2 unpacking
# Special case in for loop
for i,j in zip(amount, dis):
  print(i)
  print(j)

In [ ]:
for i,j,k in [(3,4,5), (9,'a',10), (8,7,67)]:
  print(f'i : {i}, j: {j}, k:{k}')
  # print(j)
  # print(k)

# Level 2 unpacking -- >

i : 3, j: 4, k:5
i : 9, j: a, k:10
i : 8, j: 7, k:67

In [ ]:
# Any other Cases

In [ ]:
# Since you variable and level 2 items are not same : error
for i,j,k in [(3,4,5), (9,'a'), (8,7,67)]:
  print(f'i : {i}, j: {j}, k:{k}')

i : 3, j: 4, k:5

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
# Expected variables i,j --> 2
# Level 2 Items : to be 2 --> if more than 2  --> error
for i,j in [(3,4,5), (9,'a','b'), (8,7,67)]:
  print(f'i : {i}, j: {j}, k:{k}')

ValueError: too many values to unpack (expected 2)

In [ ]:
for i,j,k in [{3,4,5}, {9,'a',10}, {8,7,67}]:
  print(i)
  print(j)
  print(k)
# Trick

3
4
9
10
8
67

In [ ]:
((3,4,5))
# Is this nested tuple? No : level of unpacking is 1

In [ ]:
((3,4,5),)
# Is this nested tuple? yes : level of unpacking is 2

In [ ]:
[((3,4,5),), (9,'a'), (8,7,67)]

In [ ]:
_var = ((4),)
type(_var)

tuple

In [ ]:
price = [300,400, 100, 50]
discount = [.1, .05, .2, .05]

# final price
for i,j in zip(price,discount):
  final_price = i * (1-j) # 300 * (1-0.1) # .9 of 300 --> Amount will I will pay
  print(f'Final price : INR {final_price}')

Final price : INR 270.0
Final price : INR 380.0
Final price : INR 80.0
Final price : INR 47.5

In [ ]:
# enumerate() : breaks the non primitive data types into index and value
# Most applied on String, List, tuple

In [ ]:
# Using enumerate() in a For Loop
# The enumerate() function adds a counter to an iterable and
# returns it in the form of an enumerate object,
# which can be useful when you need both the index and the value.

subject = ['Data Science', 'Maths', 'Python']
for i, j in enumerate(subject):
    print(f"Index {i}: {j}")

Index 0: Data Science
Index 1: Maths
Index 2: Python

In [ ]:
subject = ['Data Science', 'Maths', 'Python']
list(enumerate(subject))

[(0, 'Data Science'), (1, 'Maths'), (2, 'Python')]

In [ ]:
subject = ['Data Science', 'Maths', 'Python']
for _index, _sub in enumerate(subject):
    print(f"Index {_index}: {_sub}")

Index 0: Data Science
Index 1: Maths
Index 2: Python

In [ ]:

list(enumerate(subject))

[(0, 'Data Science'), (1, 'Maths'), (2, 'Python')]

In [ ]:
list(enumerate([30,56,78]))

[(0, 30), (1, 56), (2, 78)]

In [ ]:
_dict = {'a':1, 'b':2, 'c':3}

for i,j in _dict.items():
  print(f'i : {i}, j : {j}')

i : a, j : 1
i : b, j : 2
i : c, j : 3

In [ ]:
_dict.items() # Data format is same as of zip, enumerate

dict_items([('a', 1), ('b', 2), ('c', 3)])

#### Practice Questions

In [ ]:
# Question 1 :
'''
Write a Python program that prints the square of each number from 1 to 10.

Hint: Use the range function to generate numbers from 1 to 10.
'''
# Variable Section

# input : No input

# Square of each number from 1 to 10

for i in range(1,11): # 1,2,3,...10
  square_of_num = i**2
  print(square_of_num)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Question 2 :
'''
You have a list of numbers:

numbers = [23, 56, 32, 78, 45, 43, 10]
Write a Python program to print each number in the list followed by whether it is "Even" or "Odd".
'''
# Expected Output:

# 23 - Odd
# 56 - Even
# 32 - Even
# 78 - Even
# 45 - Odd
# 43 - Odd
# 10 - Even


numbers = [23, 56, 32, 78, 45, 43, 10]

for i in numbers:
  if i % 2 ==0:
    print(f'{i} - Even')
  else:
    print(f'{i} - Odd')

23 - Odd
56 - Even
32 - Even
78 - Even
45 - Odd
43 - Odd
10 - Even

In [ ]:
# Generic Input
numbers = eval(input('Enter the list:'))

for i in numbers:
  if i % 2 ==0:
    print(f'{i} - Even')
  else:
    print(f'{i} - Odd')

Enter the list:[23, 56, 32, 78, 45, 43, 10]
23 - Odd
56 - Even
32 - Even
78 - Even
45 - Odd
43 - Odd
10 - Even

In [ ]:
# Question 3:
'''
# Find Factor:
# Given a number (e.g., 12), find and print its factors using a for loop.
# 12 : # Factors of 12
# 1
# 2
# 3
# 4
# 6
# 12
'''
num = int(input('Enter the number:')) # 12 | 30

for i in range(1,num+1): # 1 to 12 (1,2,3,4,5,6,..12), range(1,13) # 12 or 13
  if num % i ==0:
    print(i)

# Trick of for loop : Think about the collection of items on which for loop will run.

# Logic Section : code | Avoid using exact values | use Variables

# n = 12

# for i in range(1,n +1):

Enter the number:30
1
2
3
5
6
10
15
30

[1, 2, 3, 4, 5]

In [ ]:
# Question 4 :
'''
Write a Python program that iterates through a list of numbers
and accumulates the sum of all even numbers.

'''

# Variable name should have meaning
# Single word variable : Always start with (_ : Underscore)

list_num = eval(input('Enter the list of numbers :'))
_total = 0 # Empty basket, secondary variable
for i in list_num:
  if i %2 ==0:
    _total = _total + i # _total += i

print(_total)

Enter the list of numbers :[1, 2, 3, 4, 5]
6

In [ ]:
del sum

In [ ]:
sum([2,3,4,5])

14

In [ ]:
del _total

In [ ]:
# Question 5 :
'''
Calculate the sum of squares of numbers from 1 to n using a for loop.
1^2 + 2^2 + 3^2 + 4^2 + 5^2..n^2

'''
n = int(input('Enter the value of n: '))
_total = 0
for i in range(1,n+1):
  _total += (i**2)

print(_total)

# _total = 0
# Iteration
# Iteration 1:
# i = 1
# _total = _total + i**2 | 0 + 1**2 | 0 + 1 = 1

Enter the value of n: 5

NameError: name '_total' is not defined

In [ ]:
n = int(input('Enter the value of n: '))

for i in range(1,n+1):
  _total = 0
  _total += (i**2)

print(_total)

# Iteration
# Iteration 1 :
# i = 1
# _total = 0
# _total = _total + i | 0 + 1 | 1

# Iteration 2:
# i = 2
# _total = 0
# _total = _total + i | 0 + 2 | 2

In [ ]:
# Question 6 :
'''
Calculate the sum of numbers from 1 to n using a for loop.
1/1^3 + 1/2^2 + 1/3^3 + 1/4^2 + 1/5^3....

Odd - cube
Even - Square
'''

n = int(input('Enter the number: ')) # 4
_total = 0
for i in range(1,n+1):
  if i % 2==0:
    _total += 1/ (i**2)
  else:
    _total += 1/(i**3)

print(_total)

# Iteration : n = 4

# Iterations : range(1,5) --: 1,2,3,4

# Iteration 1 :
# i = 1
# if i % 2==0: # False
  #   _total += 1/ (i**2)
  # else:
  #   _total += 1/(i**3) | _total = _total + 1/(i**3) | 0 + 1/1 | 1

#  Iteration 2 :
# i = 2
# if i % 2==0: # True
  #   _total += 1/ (i**2) | _total = _total + 1/(i**2) | 1 + 1/4 | 1.25
  # else:
  #   _total += 1/(i**3)

# ...

Enter the number: 4
1.349537037037037

In [ ]:
# Question 7 :
'''
Find the Factorial of any number
0! = 1
5! =  1 * 2 * 3 * 4 *5
1! = 1
2! = 1*2
'''
n = int(input('Enter the value of n : ')) #0

if n >=0:
  _fact = 1 # Initialise the variable

  for i in range(1,n+1): # range(1,0+1), range(1,1) --> []
    _fact = _fact * i

  print(_fact)
else:
  print('Enter the value which is >= 0')

Enter the value of n : 1
1

In [ ]:
# Ask questions from your logic

In [ ]:
list(range(1,0+1)) # Empty list

[]

In [ ]:
list(range(1,-43)) # Step: positive number +1

[]

In [ ]:
# 1,0,-1,-2,-3,-4
list(range(1,-5, -1))

[1, 0, -1, -2, -3, -4]

In [ ]:
# Trick
# 1. Look at the solution and understand each iteration
# 2. Variable as an input, collection of items on which loops will run & logic

In [ ]:
# Question 8 :
'''
For any num print the total sum of digits
Input : 123  Output  1+2+3= 6
'''
n = int(input('Enter the number:'))
n_str = str(n)
# Trick : Anything is string then each character will become an element
# 1234 -> I can't iterate
# '1234' --> Each element can be extracted

_total = 0
for i in n_str: # '1234' # i = '1', i = '2', i = '3' , i = '4'
  _total = _total + int(i)

print(_total)

# total : int , i --> str

Enter the number:1256
14

In [ ]:
# 1256 --> 14 --> 1+4 --> 5
# While loop
# Thala for a reason :

In [ ]:
_var = '1234'
type(_var[0])

str

In [ ]:
_var[0]

'1'

In [ ]:
# Question 9 :
'''
Write a Python function that takes an integer as input and checks whether it is a prime number.
A prime number is a number greater than 1 that has no divisors other than 1 and itself.
'''
# Prime Number : 2, 3 , 5 , 7 , 11 --> (only divisible by 1 or itself)
# composite Number : All other numbers, 6 (Divisible : 1,& 6 and 2&3
# 1 : neither prime nor composite

num = int(input('Enter the number :'))
_count = 0
for i in range(2,num): # Excluding : 1 & itself will divide all scenarios
  if num % i == 0:
    _count +=1

if _count >0:
  print('Composite')
else:
  print('Prime')

# iterations : num = 7

# range(2,7) --> 2,3,4,5,6

# i = 2

# # iterations : num = 6

# range(2,6) --> 2,3,4,5

# i = 2 & i = 3
# if num % i == 0: # True
    # _count +=1 |
# _count = 2

Enter the number :6666666666666666666

KeyboardInterrupt:

In [ ]:
num = int(input('Enter the number :'))
_count = 0
for i in range(2,num): # Excluding : 1 & itself will divide all scenarios
  if num % i == 0:
    _count +=1
    break # prime number If any number is dividing the input : Composite between 2, n-1

if _count >0:
  print('Composite')
else:
  print('Prime')

Enter the number :6666666666666666666
Composite

In [ ]:
# Question 10 :
'''
Write a Python code that iterates through a list of items using enumerate(). If an item is out of stock (represented by None),
use the continue statement to skip printing that item. Otherwise, print the index and item name.
shopping_list = ['apples', None, 'bread', 'milk', None, 'eggs']
'''
shopping_list = ['apples', None, 'bread', 'milk', None, 'eggs']

for i,j in enumerate(shopping_list): # [(0,'apples'), (1,None)....] # level 2 unpacking
  if j == None:
    continue
  print(f'{i} - {j}')

0 - apples
2 - bread
3 - milk
5 - eggs

In [ ]:
# Question 11 : Pattern questions
'''
Write a Python program to print the following pattern based on depth on n
n = 5
output :
*
**
***
****
*****

'''

#Repeatation using (* )--> Multiplication  with string, list, tuple.

# 'a' *  6

n = int(input('Enter the depth of the pattern:')) # 6

for i in range(1,n+1): #(1,2,3,4,5,6)
  print('*' * i)

# Iteration i = 2
# '*' * 2

# '*' * 2

Enter the depth of the pattern:10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# Question 12:
'''
# Looping over dictionary and find the defective product
'''
_dict = {'Product A': False, 'Product B' : True, 'Product C': True, 'Product D': False}

# Find the defective products : True

for i, j in _dict.items(): # [('Product A',False )...]
  if j == True:
    print(i)

Product B
Product C

In [ ]:
_dict = {'A':2, 'B': 3}

In [ ]:
_dict.items() # Level 2 Unpacking

dict_items([('A', 2), ('B', 3)])

In [ ]:
# Question 13 :
'''
#Find the links not working from the log data
'''
log = { '/home' : 200, '/about':200, '/home/product':200, '/home/product/electronic': 404,'/home/product/fashion': 200 }

for i,j in log.items():
  if j == 404:
    print(i)

/home/product/electronic

In [ ]:
# Question 14:

# Print the longest word in the sentence
# sentence = 'Python is the most interesting language'
sentence = input('Enter the sentence : ')
_sentence_words = sentence.split(' ')
# print(_sentence_words)
longest_word = _sentence_words[0] # Assumption

for i in _sentence_words:
  if len(i) > len(longest_word):
    longest_word = i

print(longest_word)

# ['Python', 'is' ,'the', 'most', 'interesting', 'language']

# longest_word = 'Python'

# i = ['Python', 'is' ,'the', 'most', 'interesting', 'language']


# i = 'Python'
# len('Python') > len(longest_word) : True or False | False | 6 > 6| False
# i = 'is'

# len('is') > len(longest_word) : 2 > 6 : False

# i = 'the'  | 3> 6 | False
# i ='most' | 4 > 6 | False

# i = 'interesting'
# len(i) > len (longest_word) : 11 > 6 : True
# longest_word = i | longest_word = 'interesting'

# i = 'language'
# len(i) > len(longest_word) :  O2: 8 > 11 | False

# longest_word : 'interesting'

Enter the sentence : This is a test sentence
sentence

In [ ]:
len('language')

8

In [ ]:
# Question 15:
'''
Write a program that counts the number of vowels in a given string.

Expected output

# String : 'AlmaBetter' output : 4
# String : 'Data Science' output : 5
'''

_word = input('Enter the word:')
_count = 0
for i in _word: # AlmaBetter | i = 'A'
  if i.lower() in 'aeiou':
    _count += 1 # to count how many times vowel has occured

print(_count)

Enter the word:AlmaBetter
4

In [ ]:
# Question 16:
'''
Create a dictionary with key as unique characters in a word
and value as number of times character is repeating
Input : 'AlmaBetter' output : {'A': 1, 'a': 1, 't': 2, 'm': 1, 'e': 2, 'r': 1, 'l': 1, 'B': 1}
Input : 'Data' output : {'D': 1, 'a': 2, 't': 1}
'''
word = input('Enter the word:')
_output = {} # Empty dict

for i in word:
  _output[i] = word.count(i)

print(_output)

# Output : {'D': 1, 'a': 2, 't': 1}

# Word = 'Data'

# i : 'D'
# _output[i] = word.count(i) | _output =  {'D' : 1}

# i : 'a'
# _output[i] = word.count(i) | _output = {'D':1, 'a':2 }

# i : 't'

# _output[i] = word.count(i) | _output = {'D':1, 'a':2, 't':1 }

# i :'a'

# # _output[i] = word.count(i) | _output = {'D':1, 'a':2, 't':1 }

# Reduce the iteration

Enter the word:AlmaBetter
{'A': 1, 'l': 1, 'm': 1, 'a': 1, 'B': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
a = {}

a[1] = 2
print(a)
a[3] = 70
print(a)

{1: 2}
{1: 2, 3: 70}

In [ ]:
_list = ['apple', 'apple', 'apple', 'banana', 'cherry', 'apple', 'grape', 'ball', 'grape', 'cherry', 'rat', 'banana', 'ball', 'rat', 'grape', 'apple', 'banana', 'grape', 'rat', 'orange', 'ball', 'apple', 'cherry', 'cherry', 'ball', 'grape', 'ball']

# {'apple' : 6 , ..}
_dict = {}
for i in _list:
  # _dict[i] = _list.count(i)
  _dict.update({i:_list.count(i)}) # Method

print(_dict)

{'apple': 6, 'banana': 3, 'cherry': 4, 'grape': 5, 'ball': 5, 'rat': 3, 'orange': 1}

In [ ]:
# Question 17:
# Provide the output as even values in the list  as input
# _list = [3,4,5,6,7,8] , output = [4,6,8]

_list = [3,4,5,6,7,8]
_out = []

for i in _list:
  if i % 2==0:
    _out.append(i)

print(_out)


# output = [4,6,8]

[4, 6, 8]

In [ ]:
# Question 18:
# Input : Word - 'AlmaBetter' --> 'lmBttr' | Consonants
# time : 10:10 PM.

_word = 'AlmaBetter'

_ot_str = ''
for i in _word:
  if i.lower() not in 'aeiou':
    _ot_str += i # 'a' + 'b' ->'ab'

print(_ot_str)

# Input ,<----> ,Output
# Logic :
# Accumulated | single result
# Each Iteration | some output

lmBttr

In [ ]:
_word = 'AlmaBetter'

_ot_str = _word # AlmaBetter
for i in _word:
  if i.lower() in 'aeiou':
    _ot_str = _ot_str.replace(i,'')
    # print(_ot_str)

print(_ot_str)

lmaBetter
lmBetter
lmBttr
lmBttr
lmBttr

#### Nested For loop

In [ ]:
# Practice
# Nested for loop means
# For loop inside the for loop
for i in ...:
  for j in ...:
    for k in ...:

In [ ]:
list_1 = [1,2,3,4]
list_2 = ['a','b','c','d']

for i in list_1:
  for j in list_2:
    print(f'Value of i: {i} and Value of j : {j}')

Value of i: 1 and Value of j : a
Value of i: 1 and Value of j : b
Value of i: 1 and Value of j : c
Value of i: 1 and Value of j : d
Value of i: 2 and Value of j : a
Value of i: 2 and Value of j : b
Value of i: 2 and Value of j : c
Value of i: 2 and Value of j : d
Value of i: 3 and Value of j : a
Value of i: 3 and Value of j : b
Value of i: 3 and Value of j : c
Value of i: 3 and Value of j : d
Value of i: 4 and Value of j : a
Value of i: 4 and Value of j : b
Value of i: 4 and Value of j : c
Value of i: 4 and Value of j : d

In [ ]:
for hour in range(0,24):
  for minutes in range(0,60):
    print(f'Hour {hour} : Minutes {minutes}')

Hour 0 : Minutes 0
Hour 0 : Minutes 1
Hour 0 : Minutes 2
Hour 0 : Minutes 3
Hour 0 : Minutes 4
Hour 0 : Minutes 5
Hour 0 : Minutes 6
Hour 0 : Minutes 7
Hour 0 : Minutes 8
Hour 0 : Minutes 9
Hour 0 : Minutes 10
Hour 0 : Minutes 11
Hour 0 : Minutes 12
Hour 0 : Minutes 13
Hour 0 : Minutes 14
Hour 0 : Minutes 15
Hour 0 : Minutes 16
Hour 0 : Minutes 17
Hour 0 : Minutes 18
Hour 0 : Minutes 19
Hour 0 : Minutes 20
Hour 0 : Minutes 21
Hour 0 : Minutes 22
Hour 0 : Minutes 23
Hour 0 : Minutes 24
Hour 0 : Minutes 25
Hour 0 : Minutes 26
Hour 0 : Minutes 27
Hour 0 : Minutes 28
Hour 0 : Minutes 29
Hour 0 : Minutes 30
Hour 0 : Minutes 31
Hour 0 : Minutes 32
Hour 0 : Minutes 33
Hour 0 : Minutes 34
Hour 0 : Minutes 35
Hour 0 : Minutes 36
Hour 0 : Minutes 37
Hour 0 : Minutes 38
Hour 0 : Minutes 39
Hour 0 : Minutes 40
Hour 0 : Minutes 41
Hour 0 : Minutes 42
Hour 0 : Minutes 43
Hour 0 : Minutes 44
Hour 0 : Minutes 45
Hour 0 : Minutes 46
Hour 0 : Minutes 47
Hour 0 : Minutes 48
Hour 0 : Minutes 49
Hour 0 : Minutes 50
Hour 0 : Minutes 51
Hour 0 : Minutes 52
Hour 0 : Minutes 53
Hour 0 : Minutes 54
Hour 0 : Minutes 55
Hour 0 : Minutes 56
Hour 0 : Minutes 57
Hour 0 : Minutes 58
Hour 0 : Minutes 59
Hour 1 : Minutes 0
Hour 1 : Minutes 1
Hour 1 : Minutes 2
Hour 1 : Minutes 3
Hour 1 : Minutes 4
Hour 1 : Minutes 5
Hour 1 : Minutes 6
Hour 1 : Minutes 7
Hour 1 : Minutes 8
Hour 1 : Minutes 9
Hour 1 : Minutes 10
Hour 1 : Minutes 11
Hour 1 : Minutes 12
Hour 1 : Minutes 13
Hour 1 : Minutes 14
Hour 1 : Minutes 15
Hour 1 : Minutes 16
Hour 1 : Minutes 17
Hour 1 : Minutes 18
Hour 1 : Minutes 19
Hour 1 : Minutes 20
Hour 1 : Minutes 21
Hour 1 : Minutes 22
Hour 1 : Minutes 23
Hour 1 : Minutes 24
Hour 1 : Minutes 25
Hour 1 : Minutes 26
Hour 1 : Minutes 27
Hour 1 : Minutes 28
Hour 1 : Minutes 29
Hour 1 : Minutes 30
Hour 1 : Minutes 31
Hour 1 : Minutes 32
Hour 1 : Minutes 33
Hour 1 : Minutes 34
Hour 1 : Minutes 35
Hour 1 : Minutes 36
Hour 1 : Minutes 37
Hour 1 : Minutes 38
Hour 1 : Minutes 39
Hour 1 : Minutes 40
Hour 1 : Minutes 41
Hour 1 : Minutes 42
Hour 1 : Minutes 43
Hour 1 : Minutes 44
Hour 1 : Minutes 45
Hour 1 : Minutes 46
Hour 1 : Minutes 47
Hour 1 : Minutes 48
Hour 1 : Minutes 49
Hour 1 : Minutes 50
Hour 1 : Minutes 51
Hour 1 : Minutes 52
Hour 1 : Minutes 53
Hour 1 : Minutes 54
Hour 1 : Minutes 55
Hour 1 : Minutes 56
Hour 1 : Minutes 57
Hour 1 : Minutes 58
Hour 1 : Minutes 59
Hour 2 : Minutes 0
Hour 2 : Minutes 1
Hour 2 : Minutes 2
Hour 2 : Minutes 3
Hour 2 : Minutes 4
Hour 2 : Minutes 5
Hour 2 : Minutes 6
Hour 2 : Minutes 7
Hour 2 : Minutes 8
Hour 2 : Minutes 9
Hour 2 : Minutes 10
Hour 2 : Minutes 11
Hour 2 : Minutes 12
Hour 2 : Minutes 13
Hour 2 : Minutes 14
Hour 2 : Minutes 15
Hour 2 : Minutes 16
Hour 2 : Minutes 17
Hour 2 : Minutes 18
Hour 2 : Minutes 19
Hour 2 : Minutes 20
Hour 2 : Minutes 21
Hour 2 : Minutes 22
Hour 2 : Minutes 23
Hour 2 : Minutes 24
Hour 2 : Minutes 25
Hour 2 : Minutes 26
Hour 2 : Minutes 27
Hour 2 : Minutes 28
Hour 2 : Minutes 29
Hour 2 : Minutes 30
Hour 2 : Minutes 31
Hour 2 : Minutes 32
Hour 2 : Minutes 33
Hour 2 : Minutes 34
Hour 2 : Minutes 35
Hour 2 : Minutes 36
Hour 2 : Minutes 37
Hour 2 : Minutes 38
Hour 2 : Minutes 39
Hour 2 : Minutes 40
Hour 2 : Minutes 41
Hour 2 : Minutes 42
Hour 2 : Minutes 43
Hour 2 : Minutes 44
Hour 2 : Minutes 45
Hour 2 : Minutes 46
Hour 2 : Minutes 47
Hour 2 : Minutes 48
Hour 2 : Minutes 49
Hour 2 : Minutes 50
Hour 2 : Minutes 51
Hour 2 : Minutes 52
Hour 2 : Minutes 53
Hour 2 : Minutes 54
Hour 2 : Minutes 55
Hour 2 : Minutes 56
Hour 2 : Minutes 57
Hour 2 : Minutes 58
Hour 2 : Minutes 59
Hour 3 : Minutes 0
Hour 3 : Minutes 1
Hour 3 : Minutes 2
Hour 3 : Minutes 3
Hour 3 : Minutes 4
Hour 3 : Minutes 5
Hour 3 : Minutes 6
Hour 3 : Minutes 7
Hour 3 : Minutes 8
Hour 3 : Minutes 9
Hour 3 : Minutes 10
Hour 3 : Minutes 11
Hour 3 : Minutes 12
Hour 3 : Minutes 13
Hour 3 : Minutes 14
Hour 3 : Minutes 15
Hour 3 : Minutes 16
Hour 3 : Minutes 17
Hour 3 : Minutes 18
Hour 3 : Minutes 19
Hour 3 : Minutes 20
Hour 3 : Minutes 21
Hour 3 : Minutes 22
Hour 3 : Minutes 23
Hour 3 : Minutes 24
Hour 3 : Minutes 25
Hour 3 : Minutes 26
Hour 3 : Minutes 27
Hour 3 : Minutes 28
Hour 3 : Minutes 29
Hour 3 : Minutes 30
Hour 3 : Minutes 31
Hour 3 : Minutes 32
Hour 3 : Minutes 33
Hour 3 : Minutes 34
Hour 3 : Minutes 35
Hour 3 : Minutes 36
Hour 3 : Minutes 37
Hour 3 : Minutes 38
Hour 3 : Minutes 39
Hour 3 : Minutes 40
Hour 3 : Minutes 41
Hour 3 : Minutes 42
Hour 3 : Minutes 43
Hour 3 : Minutes 44
Hour 3 : Minutes 45
Hour 3 : Minutes 46
Hour 3 : Minutes 47
Hour 3 : Minutes 48
Hour 3 : Minutes 49
Hour 3 : Minutes 50
Hour 3 : Minutes 51
Hour 3 : Minutes 52
Hour 3 : Minutes 53
Hour 3 : Minutes 54
Hour 3 : Minutes 55
Hour 3 : Minutes 56
Hour 3 : Minutes 57
Hour 3 : Minutes 58
Hour 3 : Minutes 59
Hour 4 : Minutes 0
Hour 4 : Minutes 1
Hour 4 : Minutes 2
Hour 4 : Minutes 3
Hour 4 : Minutes 4
Hour 4 : Minutes 5
Hour 4 : Minutes 6
Hour 4 : Minutes 7
Hour 4 : Minutes 8
Hour 4 : Minutes 9
Hour 4 : Minutes 10
Hour 4 : Minutes 11
Hour 4 : Minutes 12
Hour 4 : Minutes 13
Hour 4 : Minutes 14
Hour 4 : Minutes 15
Hour 4 : Minutes 16
Hour 4 : Minutes 17
Hour 4 : Minutes 18
Hour 4 : Minutes 19
Hour 4 : Minutes 20
Hour 4 : Minutes 21
Hour 4 : Minutes 22
Hour 4 : Minutes 23
Hour 4 : Minutes 24
Hour 4 : Minutes 25
Hour 4 : Minutes 26
Hour 4 : Minutes 27
Hour 4 : Minutes 28
Hour 4 : Minutes 29
Hour 4 : Minutes 30
Hour 4 : Minutes 31
Hour 4 : Minutes 32
Hour 4 : Minutes 33
Hour 4 : Minutes 34
Hour 4 : Minutes 35
Hour 4 : Minutes 36
Hour 4 : Minutes 37
Hour 4 : Minutes 38
Hour 4 : Minutes 39
Hour 4 : Minutes 40
Hour 4 : Minutes 41
Hour 4 : Minutes 42
Hour 4 : Minutes 43
Hour 4 : Minutes 44
Hour 4 : Minutes 45
Hour 4 : Minutes 46
Hour 4 : Minutes 47
Hour 4 : Minutes 48
Hour 4 : Minutes 49
Hour 4 : Minutes 50
Hour 4 : Minutes 51
Hour 4 : Minutes 52
Hour 4 : Minutes 53
Hour 4 : Minutes 54
Hour 4 : Minutes 55
Hour 4 : Minutes 56
Hour 4 : Minutes 57
Hour 4 : Minutes 58
Hour 4 : Minutes 59
Hour 5 : Minutes 0
Hour 5 : Minutes 1
Hour 5 : Minutes 2
Hour 5 : Minutes 3
Hour 5 : Minutes 4
Hour 5 : Minutes 5
Hour 5 : Minutes 6
Hour 5 : Minutes 7
Hour 5 : Minutes 8
Hour 5 : Minutes 9
Hour 5 : Minutes 10
Hour 5 : Minutes 11
Hour 5 : Minutes 12
Hour 5 : Minutes 13
Hour 5 : Minutes 14
Hour 5 : Minutes 15
Hour 5 : Minutes 16
Hour 5 : Minutes 17
Hour 5 : Minutes 18
Hour 5 : Minutes 19
Hour 5 : Minutes 20
Hour 5 : Minutes 21
Hour 5 : Minutes 22
Hour 5 : Minutes 23
Hour 5 : Minutes 24
Hour 5 : Minutes 25
Hour 5 : Minutes 26
Hour 5 : Minutes 27
Hour 5 : Minutes 28
Hour 5 : Minutes 29
Hour 5 : Minutes 30
Hour 5 : Minutes 31
Hour 5 : Minutes 32
Hour 5 : Minutes 33
Hour 5 : Minutes 34
Hour 5 : Minutes 35
Hour 5 : Minutes 36
Hour 5 : Minutes 37
Hour 5 : Minutes 38
Hour 5 : Minutes 39
Hour 5 : Minutes 40
Hour 5 : Minutes 41
Hour 5 : Minutes 42
Hour 5 : Minutes 43
Hour 5 : Minutes 44
Hour 5 : Minutes 45
Hour 5 : Minutes 46
Hour 5 : Minutes 47
Hour 5 : Minutes 48
Hour 5 : Minutes 49
Hour 5 : Minutes 50
Hour 5 : Minutes 51
Hour 5 : Minutes 52
Hour 5 : Minutes 53
Hour 5 : Minutes 54
Hour 5 : Minutes 55
Hour 5 : Minutes 56
Hour 5 : Minutes 57
Hour 5 : Minutes 58
Hour 5 : Minutes 59
Hour 6 : Minutes 0
Hour 6 : Minutes 1
Hour 6 : Minutes 2
Hour 6 : Minutes 3
Hour 6 : Minutes 4
Hour 6 : Minutes 5
Hour 6 : Minutes 6
Hour 6 : Minutes 7
Hour 6 : Minutes 8
Hour 6 : Minutes 9
Hour 6 : Minutes 10
Hour 6 : Minutes 11
Hour 6 : Minutes 12
Hour 6 : Minutes 13
Hour 6 : Minutes 14
Hour 6 : Minutes 15
Hour 6 : Minutes 16
Hour 6 : Minutes 17
Hour 6 : Minutes 18
Hour 6 : Minutes 19
Hour 6 : Minutes 20
Hour 6 : Minutes 21
Hour 6 : Minutes 22
Hour 6 : Minutes 23
Hour 6 : Minutes 24
Hour 6 : Minutes 25
Hour 6 : Minutes 26
Hour 6 : Minutes 27
Hour 6 : Minutes 28
Hour 6 : Minutes 29
Hour 6 : Minutes 30
Hour 6 : Minutes 31
Hour 6 : Minutes 32
Hour 6 : Minutes 33
Hour 6 : Minutes 34
Hour 6 : Minutes 35
Hour 6 : Minutes 36
Hour 6 : Minutes 37
Hour 6 : Minutes 38
Hour 6 : Minutes 39
Hour 6 : Minutes 40
Hour 6 : Minutes 41
Hour 6 : Minutes 42
Hour 6 : Minutes 43
Hour 6 : Minutes 44
Hour 6 : Minutes 45
Hour 6 : Minutes 46
Hour 6 : Minutes 47
Hour 6 : Minutes 48
Hour 6 : Minutes 49
Hour 6 : Minutes 50
Hour 6 : Minutes 51
Hour 6 : Minutes 52
Hour 6 : Minutes 53
Hour 6 : Minutes 54
Hour 6 : Minutes 55
Hour 6 : Minutes 56
Hour 6 : Minutes 57
Hour 6 : Minutes 58
Hour 6 : Minutes 59
Hour 7 : Minutes 0
Hour 7 : Minutes 1
Hour 7 : Minutes 2
Hour 7 : Minutes 3
Hour 7 : Minutes 4
Hour 7 : Minutes 5
Hour 7 : Minutes 6
Hour 7 : Minutes 7
Hour 7 : Minutes 8
Hour 7 : Minutes 9
Hour 7 : Minutes 10
Hour 7 : Minutes 11
Hour 7 : Minutes 12
Hour 7 : Minutes 13
Hour 7 : Minutes 14
Hour 7 : Minutes 15
Hour 7 : Minutes 16
Hour 7 : Minutes 17
Hour 7 : Minutes 18
Hour 7 : Minutes 19
Hour 7 : Minutes 20
Hour 7 : Minutes 21
Hour 7 : Minutes 22
Hour 7 : Minutes 23
Hour 7 : Minutes 24
Hour 7 : Minutes 25
Hour 7 : Minutes 26
Hour 7 : Minutes 27
Hour 7 : Minutes 28
Hour 7 : Minutes 29
Hour 7 : Minutes 30
Hour 7 : Minutes 31
Hour 7 : Minutes 32
Hour 7 : Minutes 33
Hour 7 : Minutes 34
Hour 7 : Minutes 35
Hour 7 : Minutes 36
Hour 7 : Minutes 37
Hour 7 : Minutes 38
Hour 7 : Minutes 39
Hour 7 : Minutes 40
Hour 7 : Minutes 41
Hour 7 : Minutes 42
Hour 7 : Minutes 43
Hour 7 : Minutes 44
Hour 7 : Minutes 45
Hour 7 : Minutes 46
Hour 7 : Minutes 47
Hour 7 : Minutes 48
Hour 7 : Minutes 49
Hour 7 : Minutes 50
Hour 7 : Minutes 51
Hour 7 : Minutes 52
Hour 7 : Minutes 53
Hour 7 : Minutes 54
Hour 7 : Minutes 55
Hour 7 : Minutes 56
Hour 7 : Minutes 57
Hour 7 : Minutes 58
Hour 7 : Minutes 59
Hour 8 : Minutes 0
Hour 8 : Minutes 1
Hour 8 : Minutes 2
Hour 8 : Minutes 3
Hour 8 : Minutes 4
Hour 8 : Minutes 5
Hour 8 : Minutes 6
Hour 8 : Minutes 7
Hour 8 : Minutes 8
Hour 8 : Minutes 9
Hour 8 : Minutes 10
Hour 8 : Minutes 11
Hour 8 : Minutes 12
Hour 8 : Minutes 13
Hour 8 : Minutes 14
Hour 8 : Minutes 15
Hour 8 : Minutes 16
Hour 8 : Minutes 17
Hour 8 : Minutes 18
Hour 8 : Minutes 19
Hour 8 : Minutes 20
Hour 8 : Minutes 21
Hour 8 : Minutes 22
Hour 8 : Minutes 23
Hour 8 : Minutes 24
Hour 8 : Minutes 25
Hour 8 : Minutes 26
Hour 8 : Minutes 27
Hour 8 : Minutes 28
Hour 8 : Minutes 29
Hour 8 : Minutes 30
Hour 8 : Minutes 31
Hour 8 : Minutes 32
Hour 8 : Minutes 33
Hour 8 : Minutes 34
Hour 8 : Minutes 35
Hour 8 : Minutes 36
Hour 8 : Minutes 37
Hour 8 : Minutes 38
Hour 8 : Minutes 39
Hour 8 : Minutes 40
Hour 8 : Minutes 41
Hour 8 : Minutes 42
Hour 8 : Minutes 43
Hour 8 : Minutes 44
Hour 8 : Minutes 45
Hour 8 : Minutes 46
Hour 8 : Minutes 47
Hour 8 : Minutes 48
Hour 8 : Minutes 49
Hour 8 : Minutes 50
Hour 8 : Minutes 51
Hour 8 : Minutes 52
Hour 8 : Minutes 53
Hour 8 : Minutes 54
Hour 8 : Minutes 55
Hour 8 : Minutes 56
Hour 8 : Minutes 57
Hour 8 : Minutes 58
Hour 8 : Minutes 59
Hour 9 : Minutes 0
Hour 9 : Minutes 1
Hour 9 : Minutes 2
Hour 9 : Minutes 3
Hour 9 : Minutes 4
Hour 9 : Minutes 5
Hour 9 : Minutes 6
Hour 9 : Minutes 7
Hour 9 : Minutes 8
Hour 9 : Minutes 9
Hour 9 : Minutes 10
Hour 9 : Minutes 11
Hour 9 : Minutes 12
Hour 9 : Minutes 13
Hour 9 : Minutes 14
Hour 9 : Minutes 15
Hour 9 : Minutes 16
Hour 9 : Minutes 17
Hour 9 : Minutes 18
Hour 9 : Minutes 19
Hour 9 : Minutes 20
Hour 9 : Minutes 21
Hour 9 : Minutes 22
Hour 9 : Minutes 23
Hour 9 : Minutes 24
Hour 9 : Minutes 25
Hour 9 : Minutes 26
Hour 9 : Minutes 27
Hour 9 : Minutes 28
Hour 9 : Minutes 29
Hour 9 : Minutes 30
Hour 9 : Minutes 31
Hour 9 : Minutes 32
Hour 9 : Minutes 33
Hour 9 : Minutes 34
Hour 9 : Minutes 35
Hour 9 : Minutes 36
Hour 9 : Minutes 37
Hour 9 : Minutes 38
Hour 9 : Minutes 39
Hour 9 : Minutes 40
Hour 9 : Minutes 41
Hour 9 : Minutes 42
Hour 9 : Minutes 43
Hour 9 : Minutes 44
Hour 9 : Minutes 45
Hour 9 : Minutes 46
Hour 9 : Minutes 47
Hour 9 : Minutes 48
Hour 9 : Minutes 49
Hour 9 : Minutes 50
Hour 9 : Minutes 51
Hour 9 : Minutes 52
Hour 9 : Minutes 53
Hour 9 : Minutes 54
Hour 9 : Minutes 55
Hour 9 : Minutes 56
Hour 9 : Minutes 57
Hour 9 : Minutes 58
Hour 9 : Minutes 59
Hour 10 : Minutes 0
Hour 10 : Minutes 1
Hour 10 : Minutes 2
Hour 10 : Minutes 3
Hour 10 : Minutes 4
Hour 10 : Minutes 5
Hour 10 : Minutes 6
Hour 10 : Minutes 7
Hour 10 : Minutes 8
Hour 10 : Minutes 9
Hour 10 : Minutes 10
Hour 10 : Minutes 11
Hour 10 : Minutes 12
Hour 10 : Minutes 13
Hour 10 : Minutes 14
Hour 10 : Minutes 15
Hour 10 : Minutes 16
Hour 10 : Minutes 17
Hour 10 : Minutes 18
Hour 10 : Minutes 19
Hour 10 : Minutes 20
Hour 10 : Minutes 21
Hour 10 : Minutes 22
Hour 10 : Minutes 23
Hour 10 : Minutes 24
Hour 10 : Minutes 25
Hour 10 : Minutes 26
Hour 10 : Minutes 27
Hour 10 : Minutes 28
Hour 10 : Minutes 29
Hour 10 : Minutes 30
Hour 10 : Minutes 31
Hour 10 : Minutes 32
Hour 10 : Minutes 33
Hour 10 : Minutes 34
Hour 10 : Minutes 35
Hour 10 : Minutes 36
Hour 10 : Minutes 37
Hour 10 : Minutes 38
Hour 10 : Minutes 39
Hour 10 : Minutes 40
Hour 10 : Minutes 41
Hour 10 : Minutes 42
Hour 10 : Minutes 43
Hour 10 : Minutes 44
Hour 10 : Minutes 45
Hour 10 : Minutes 46
Hour 10 : Minutes 47
Hour 10 : Minutes 48
Hour 10 : Minutes 49
Hour 10 : Minutes 50
Hour 10 : Minutes 51
Hour 10 : Minutes 52
Hour 10 : Minutes 53
Hour 10 : Minutes 54
Hour 10 : Minutes 55
Hour 10 : Minutes 56
Hour 10 : Minutes 57
Hour 10 : Minutes 58
Hour 10 : Minutes 59
Hour 11 : Minutes 0
Hour 11 : Minutes 1
Hour 11 : Minutes 2
Hour 11 : Minutes 3
Hour 11 : Minutes 4
Hour 11 : Minutes 5
Hour 11 : Minutes 6
Hour 11 : Minutes 7
Hour 11 : Minutes 8
Hour 11 : Minutes 9
Hour 11 : Minutes 10
Hour 11 : Minutes 11
Hour 11 : Minutes 12
Hour 11 : Minutes 13
Hour 11 : Minutes 14
Hour 11 : Minutes 15
Hour 11 : Minutes 16
Hour 11 : Minutes 17
Hour 11 : Minutes 18
Hour 11 : Minutes 19
Hour 11 : Minutes 20
Hour 11 : Minutes 21
Hour 11 : Minutes 22
Hour 11 : Minutes 23
Hour 11 : Minutes 24
Hour 11 : Minutes 25
Hour 11 : Minutes 26
Hour 11 : Minutes 27
Hour 11 : Minutes 28
Hour 11 : Minutes 29
Hour 11 : Minutes 30
Hour 11 : Minutes 31
Hour 11 : Minutes 32
Hour 11 : Minutes 33
Hour 11 : Minutes 34
Hour 11 : Minutes 35
Hour 11 : Minutes 36
Hour 11 : Minutes 37
Hour 11 : Minutes 38
Hour 11 : Minutes 39
Hour 11 : Minutes 40
Hour 11 : Minutes 41
Hour 11 : Minutes 42
Hour 11 : Minutes 43
Hour 11 : Minutes 44
Hour 11 : Minutes 45
Hour 11 : Minutes 46
Hour 11 : Minutes 47
Hour 11 : Minutes 48
Hour 11 : Minutes 49
Hour 11 : Minutes 50
Hour 11 : Minutes 51
Hour 11 : Minutes 52
Hour 11 : Minutes 53
Hour 11 : Minutes 54
Hour 11 : Minutes 55
Hour 11 : Minutes 56
Hour 11 : Minutes 57
Hour 11 : Minutes 58
Hour 11 : Minutes 59
Hour 12 : Minutes 0
Hour 12 : Minutes 1
Hour 12 : Minutes 2
Hour 12 : Minutes 3
Hour 12 : Minutes 4
Hour 12 : Minutes 5
Hour 12 : Minutes 6
Hour 12 : Minutes 7
Hour 12 : Minutes 8
Hour 12 : Minutes 9
Hour 12 : Minutes 10
Hour 12 : Minutes 11
Hour 12 : Minutes 12
Hour 12 : Minutes 13
Hour 12 : Minutes 14
Hour 12 : Minutes 15
Hour 12 : Minutes 16
Hour 12 : Minutes 17
Hour 12 : Minutes 18
Hour 12 : Minutes 19
Hour 12 : Minutes 20
Hour 12 : Minutes 21
Hour 12 : Minutes 22
Hour 12 : Minutes 23
Hour 12 : Minutes 24
Hour 12 : Minutes 25
Hour 12 : Minutes 26
Hour 12 : Minutes 27
Hour 12 : Minutes 28
Hour 12 : Minutes 29
Hour 12 : Minutes 30
Hour 12 : Minutes 31
Hour 12 : Minutes 32
Hour 12 : Minutes 33
Hour 12 : Minutes 34
Hour 12 : Minutes 35
Hour 12 : Minutes 36
Hour 12 : Minutes 37
Hour 12 : Minutes 38
Hour 12 : Minutes 39
Hour 12 : Minutes 40
Hour 12 : Minutes 41
Hour 12 : Minutes 42
Hour 12 : Minutes 43
Hour 12 : Minutes 44
Hour 12 : Minutes 45
Hour 12 : Minutes 46
Hour 12 : Minutes 47
Hour 12 : Minutes 48
Hour 12 : Minutes 49
Hour 12 : Minutes 50
Hour 12 : Minutes 51
Hour 12 : Minutes 52
Hour 12 : Minutes 53
Hour 12 : Minutes 54
Hour 12 : Minutes 55
Hour 12 : Minutes 56
Hour 12 : Minutes 57
Hour 12 : Minutes 58
Hour 12 : Minutes 59
Hour 13 : Minutes 0
Hour 13 : Minutes 1
Hour 13 : Minutes 2
Hour 13 : Minutes 3
Hour 13 : Minutes 4
Hour 13 : Minutes 5
Hour 13 : Minutes 6
Hour 13 : Minutes 7
Hour 13 : Minutes 8
Hour 13 : Minutes 9
Hour 13 : Minutes 10
Hour 13 : Minutes 11
Hour 13 : Minutes 12
Hour 13 : Minutes 13
Hour 13 : Minutes 14
Hour 13 : Minutes 15
Hour 13 : Minutes 16
Hour 13 : Minutes 17
Hour 13 : Minutes 18
Hour 13 : Minutes 19
Hour 13 : Minutes 20
Hour 13 : Minutes 21
Hour 13 : Minutes 22
Hour 13 : Minutes 23
Hour 13 : Minutes 24
Hour 13 : Minutes 25
Hour 13 : Minutes 26
Hour 13 : Minutes 27
Hour 13 : Minutes 28
Hour 13 : Minutes 29
Hour 13 : Minutes 30
Hour 13 : Minutes 31
Hour 13 : Minutes 32
Hour 13 : Minutes 33
Hour 13 : Minutes 34
Hour 13 : Minutes 35
Hour 13 : Minutes 36
Hour 13 : Minutes 37
Hour 13 : Minutes 38
Hour 13 : Minutes 39
Hour 13 : Minutes 40
Hour 13 : Minutes 41
Hour 13 : Minutes 42
Hour 13 : Minutes 43
Hour 13 : Minutes 44
Hour 13 : Minutes 45
Hour 13 : Minutes 46
Hour 13 : Minutes 47
Hour 13 : Minutes 48
Hour 13 : Minutes 49
Hour 13 : Minutes 50
Hour 13 : Minutes 51
Hour 13 : Minutes 52
Hour 13 : Minutes 53
Hour 13 : Minutes 54
Hour 13 : Minutes 55
Hour 13 : Minutes 56
Hour 13 : Minutes 57
Hour 13 : Minutes 58
Hour 13 : Minutes 59
Hour 14 : Minutes 0
Hour 14 : Minutes 1
Hour 14 : Minutes 2
Hour 14 : Minutes 3
Hour 14 : Minutes 4
Hour 14 : Minutes 5
Hour 14 : Minutes 6
Hour 14 : Minutes 7
Hour 14 : Minutes 8
Hour 14 : Minutes 9
Hour 14 : Minutes 10
Hour 14 : Minutes 11
Hour 14 : Minutes 12
Hour 14 : Minutes 13
Hour 14 : Minutes 14
Hour 14 : Minutes 15
Hour 14 : Minutes 16
Hour 14 : Minutes 17
Hour 14 : Minutes 18
Hour 14 : Minutes 19
Hour 14 : Minutes 20
Hour 14 : Minutes 21
Hour 14 : Minutes 22
Hour 14 : Minutes 23
Hour 14 : Minutes 24
Hour 14 : Minutes 25
Hour 14 : Minutes 26
Hour 14 : Minutes 27
Hour 14 : Minutes 28
Hour 14 : Minutes 29
Hour 14 : Minutes 30
Hour 14 : Minutes 31
Hour 14 : Minutes 32
Hour 14 : Minutes 33
Hour 14 : Minutes 34
Hour 14 : Minutes 35
Hour 14 : Minutes 36
Hour 14 : Minutes 37
Hour 14 : Minutes 38
Hour 14 : Minutes 39
Hour 14 : Minutes 40
Hour 14 : Minutes 41
Hour 14 : Minutes 42
Hour 14 : Minutes 43
Hour 14 : Minutes 44
Hour 14 : Minutes 45
Hour 14 : Minutes 46
Hour 14 : Minutes 47
Hour 14 : Minutes 48
Hour 14 : Minutes 49
Hour 14 : Minutes 50
Hour 14 : Minutes 51
Hour 14 : Minutes 52
Hour 14 : Minutes 53
Hour 14 : Minutes 54
Hour 14 : Minutes 55
Hour 14 : Minutes 56
Hour 14 : Minutes 57
Hour 14 : Minutes 58
Hour 14 : Minutes 59
Hour 15 : Minutes 0
Hour 15 : Minutes 1
Hour 15 : Minutes 2
Hour 15 : Minutes 3
Hour 15 : Minutes 4
Hour 15 : Minutes 5
Hour 15 : Minutes 6
Hour 15 : Minutes 7
Hour 15 : Minutes 8
Hour 15 : Minutes 9
Hour 15 : Minutes 10
Hour 15 : Minutes 11
Hour 15 : Minutes 12
Hour 15 : Minutes 13
Hour 15 : Minutes 14
Hour 15 : Minutes 15
Hour 15 : Minutes 16
Hour 15 : Minutes 17
Hour 15 : Minutes 18
Hour 15 : Minutes 19
Hour 15 : Minutes 20
Hour 15 : Minutes 21
Hour 15 : Minutes 22
Hour 15 : Minutes 23
Hour 15 : Minutes 24
Hour 15 : Minutes 25
Hour 15 : Minutes 26
Hour 15 : Minutes 27
Hour 15 : Minutes 28
Hour 15 : Minutes 29
Hour 15 : Minutes 30
Hour 15 : Minutes 31
Hour 15 : Minutes 32
Hour 15 : Minutes 33
Hour 15 : Minutes 34
Hour 15 : Minutes 35
Hour 15 : Minutes 36
Hour 15 : Minutes 37
Hour 15 : Minutes 38
Hour 15 : Minutes 39
Hour 15 : Minutes 40
Hour 15 : Minutes 41
Hour 15 : Minutes 42
Hour 15 : Minutes 43
Hour 15 : Minutes 44
Hour 15 : Minutes 45
Hour 15 : Minutes 46
Hour 15 : Minutes 47
Hour 15 : Minutes 48
Hour 15 : Minutes 49
Hour 15 : Minutes 50
Hour 15 : Minutes 51
Hour 15 : Minutes 52
Hour 15 : Minutes 53
Hour 15 : Minutes 54
Hour 15 : Minutes 55
Hour 15 : Minutes 56
Hour 15 : Minutes 57
Hour 15 : Minutes 58
Hour 15 : Minutes 59
Hour 16 : Minutes 0
Hour 16 : Minutes 1
Hour 16 : Minutes 2
Hour 16 : Minutes 3
Hour 16 : Minutes 4
Hour 16 : Minutes 5
Hour 16 : Minutes 6
Hour 16 : Minutes 7
Hour 16 : Minutes 8
Hour 16 : Minutes 9
Hour 16 : Minutes 10
Hour 16 : Minutes 11
Hour 16 : Minutes 12
Hour 16 : Minutes 13
Hour 16 : Minutes 14
Hour 16 : Minutes 15
Hour 16 : Minutes 16
Hour 16 : Minutes 17
Hour 16 : Minutes 18
Hour 16 : Minutes 19
Hour 16 : Minutes 20
Hour 16 : Minutes 21
Hour 16 : Minutes 22
Hour 16 : Minutes 23
Hour 16 : Minutes 24
Hour 16 : Minutes 25
Hour 16 : Minutes 26
Hour 16 : Minutes 27
Hour 16 : Minutes 28

In [ ]:
# break and continue
# break and continue will work on the for loop it is attached, not on all all for loops
for hour in range(0,24):
  for minutes in range(0,60):
    if minutes == 5:
      break
    print(f'Hour {hour} : Minutes {minutes}')

In [ ]:
# Question 16: Nested for loop
'''
Print this pattern -
1
12
123
1234
12345
'''

n = int(input()) # 5
for i in range(1,n+1): # [1,2,3,4,5]
  for j in range(1,i+1):
    print(j, end = '') # end is a parameter,
  print()


# Iteration 1 : i = 1, j iterates on range(1,2) = [1]
# i = 1, j = 1
# print(j, end = '')
# 1
# print() --> Next print will start from next line

# Iteration 2 : i = 2, j iterates on range(1,3) = [1,2]
# Mini Iterations : i = 2 , J = 1
# print(j, end = '')
# 1
# Mini Iterations : i = 2 , J = 2
# print(j, end = '')
# 12
# print() --> Next print will start from next line


# Iteration 3 : i = 3, j iterates on range(1,4) = [1,2,3]
# Mini Iterations : i = 3 , J = 1
# print(j, end = '')
# 1
# Mini Iterations : i = 3 , J = 2
# print(j, end = '')
# 12
# Mini Iterations : i = 3 , J = 3
# print(j, end = '')
# 123
# print() --> Next print will start from next line

5
1
12
123
1234
12345

1
2
3
4

In [ ]:
for i in range(1,5):
  print(i, end = ' ')

1234

#### Self Practice (6 Questions + 3 Questions present on dasboard)

In [ ]:
# Question 1:  (Easy) : next class
'''
Print the vowel or consonant in the word.
Input : word = 'AlmaBetter'
Output :
A is Vowel
l is Consonant
m is Consonant
a is Vowel
B is Consonant
e is Vowel
t is Consonant
t is Consonant
e is Vowel
r is Consonant
'''
word = input('Enter the word:')

for i in word:
  if i.lower() in 'aeiou':
    print(f'{i} is Vowel')
  else:
    print(f'{i} is consonant')

Enter the word:AlmaBetter
A is Vowel
l is consonant
m is consonant
a is Vowel
B is consonant
e is Vowel
t is consonant
t is consonant
e is Vowel
r is consonant

In [ ]:
# Question 2 : (Easy) :
'''
For any num print the total sum of digits applying the logic of if number is even do square, else do cube

Input : 123  Output = 32  # 1^3 + 2^2 + 3^3 = 1 + 4 + 27
Input : 467  Output  = 395  # 4 ^ 2 + 6 ^ 2 + 7 ^3 = 16 + 36 + 343

'''

num = int(input('Enter the number:')) # 1234

num_str = str(num)# '1234'
_total =0

for i in num_str: #'1234'
  i = int(i) # typecasting to integer
  if i % 2 ==0:
    _total += (i**2)
  else:
    _total += (i**3)


print(_total)

Enter the number:1234
1
5
32
48

In [ ]:
# Question 3 : (Intermediate) : next Class
'''
Case Study Question: Discount Calculator

You are working for an e-commerce website.
Create a program that calculates the total cost of items in a shopping cart after applying discounts.
Use a for loop to iterate through the cart and apply the following discounts:

# 10% off for items costing between $10 and $50.
# 20% off for items costing more than $50.
# No discount for items costing less than $10.

# Expected Output
# cart = [7, 15, 35, 80, 5] --> Total Cost : 121
# cart = [7, 8, 2 ] --> Total Cost : 17
# cart = [20] --> Total Cost : 18
# cart = [20,60] --> Total Cost : 66

'''

_cart = eval(input())
_total = 0
_lower_limit_price = 10
_mid_limit_price = 50
_blower_limit_discount = 0
_lower_limit_discount = 0.1
_upper_limit_discount  = 0.2


for i in _cart:
  if i < _lower_limit_price:
    _total += i * (1-_blower_limit_discount)
  elif i >=_lower_limit_price and i <= _mid_limit_price:
    _total += i*(1- _lower_limit_discount)
  else:
    _total += i*(1- _upper_limit_discount)

print(_total)

[7, 15, 35, 80, 5]
126.5

In [ ]:
## 10% off for items costing between $10 and $50.
# 20% off for items costing more than $50.
# No discount for items costing less than $10.

# Expected Output
# cart = [7, 15, 35, 80, 5] --> Total Cost : 121
# cart = [7, 8, 2 ] --> Total Cost : 17
# cart = [20] --> Total Cost : 18
# cart = [20,60] --> Total Cost : 66

for i in _cart:
  if i < 10:
    _total += i * (1-0)
  elif i >=10 and i <= 50:
    _total += i*(1- 0.1)
  else:
    _total += i*(1- 0.2)

print(_total)

In [ ]:
# Question 4: (hard) : Next Class
'''
The Fibonacci series is a sequence of numbers where each number is
the sum of the two preceding ones, starting from 0 and 1.
The series begins as follows:

# Fibonacci Series : 0, 1, 1, 2, 3, 5, 8, 13, 21, 34,...
# input/till which index = 0 , fibonacci_output = [0]
# input/ till which index = 1 , fibonacci_output = [0,1]
# input/till which index = 2 , fibonacci_output = [0,1,1]
# input //till which index  = 3 , fibonacci_output = [0,1,1,2]
# input /till which index = 4 , fibonacci_output = [0,1,1,2,3]
# input /till which index = 5 , fibonacci_output = [0,1,1,2,3,5] # till 5th index print the fibonacci series
'''

_index = int(input('Enter the index till which you want fibonacci series:'))

_output = [0,1] # []

if _index == 0:
  print(_output[:_index+1])
elif _index == 1:
  print(_output[:_index+1])

else:
  for i in range(2,_index + 1):
    next_value = _output[-1] + _output[-2] # negative index
    _output.append(next_value)

  print(_output)


# index = 5
# Iterations : i = 2,3,4,5 | --> 4 iterations
# i = 2
# _output = [0,1]
# next_value = _output[-1] + _output[-2] # 1+ 0 = 1
# _output.append(next_value) # [0,1,1]

# i = 3
# _output = [0,1,1]
# next_value = _output[-1] + _output[-2] # 1+ 1 = 2
# _output.append(next_value) # [0,1,1,2]

# i = 4
# _output = [0,1,1,2]
# next_value = _output[-1] + _output[-2] # 2+ 1 = 3
# _output.append(next_value) # [0,1,1,2,3]

# i = 5
# _output = [0,1,1,2,3]
# next_value = _output[-1] + _output[-2] # 3+ 2 = 5
# _output.append(next_value) # [0,1,1,2,3,5]

Enter the index till which you want fibonacci series:5
[0, 1, 1, 2, 3, 5]

In [ ]:
# [0,1,1,2,3] --> Next Number |last 2 elements sum

In [ ]:
_list = [0,1]
# next_value ?? sum of last 2
_list[-1] +_list[-2]

1

In [ ]:
_out = [0,1]
_out[:1] #

[0]

In [ ]:
_out[:2] # 0, 1

[0, 1]

In [ ]:
_out[:3] # 0,1,2

In [ ]:
# Question 5: (Hard) : Next Class
'''
Print the pyramid pattern using a/depth for loop.
     *
    ***
   *****
  *******
 *********
***********

'''

# Pattern each row : created by space & Stars
# depth = 6
# 1row -> 5: Space, 1 : Star
# 2 row -> 4: Space , 3 : Stars
# 3 row --> 3 Space, 5 : Stars
# 4 row --> 2 Space , 7: Stars
# 5 row --> 1 Space, 9: Stars
# 6 row --> 0 Space, 11: Stars

depth = int(input()) #
space = list(range(depth-1, -1, -1))
stars = list(range(1, 2*depth, 2))
# print(list(zip(space,stars)))
for i,j in zip(space,stars):
  print(' ' * i + '*'*j)

6
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
depth = 6
list(range(5, -1, -1)) # 5,4,3,2,1,0

[5, 4, 3, 2, 1, 0]

In [ ]:
# ***********
#  *********
#   *******
#    *****
#     ***
#      *

# depth = 6

# 1st row
# Stars = 11
# Space = 0
# 2nd row
# Stars = 9
# Space = 1
# 3rd row
# Stars = 7
# Space = 2
# 4th row
# Stars = 5
# Space = 3

# 5th row
# Stars = 3
# Space = 4

# 6th row
# Stars = 1
# Space = 5

depth = int(input())
space = list(range(depth-1, -1, -1))
stars = list(range(1, 2*depth, 2))
# print(list(zip(space,stars))[::-1])
for i,j in list(zip(space,stars))[::-1]:
  print(' ' * i + '*'*j)

6
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
'''
-- Diamond Pattern
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

'''

depth = int(input())
space = list(range(depth-1, -1, -1))
stars = list(range(1, 2*depth, 2))

for i,j in zip(space,stars):
  print(' ' * i + '*'*j)

for i,j in list(zip(space,stars))[-2::-1]:
  print(' ' * i + '*'*j)

6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
list(zip(space,stars))

[(5, 1), (4, 3), (3, 5), (2, 7), (1, 9), (0, 11)]

In [ ]:
list(zip(space,stars))[-2::-1] # i,j &k

[(1, 9), (2, 7), (3, 5), (4, 3), (5, 1)]

In [ ]:
# Hour glass
depth = int(input())
space = list(range(depth-1, -1, -1))
stars = list(range(1, 2*depth, 2))

for i,j in list(zip(space,stars))[::-1]:
  print(' ' * i + '*'*j)

for i,j in zip(space,stars):
  print(' ' * i + '*'*j)

6
***********
 *********
  *******
   *****
    ***
     *
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
# Question 6: (Itermediate) : Next Class
'''
The Enhanced Fibonacci series is a sequence of numbers where each number is
the sum of the three preceding ones, starting from 0, 1 & 2.
The series begins as follows:

# Fibonacci Series : 0, 1, 2, 3, 6, 11, 20 ,...
# input = 0 , fibonacci_output = [0]
# input = 1 , fibonacci_output = [0,1]
# input = 2 , fibonacci_output = [0,1,2]
# input = 3 , fibonacci_output = [0,1,2,3]
# input = 4 , fibonacci_output = [0,1,2,3,6]
# input = 5 , fibonacci_output = [0,1,2,3,6,11] # till 5th index print the Enhanced fibonacci series
'''

_index = int(input('Enter the index till which you want fibonacci series:')) # 5

_output = [0,1,2] # []

if _index == 0 or _index == 1 or _index == 2 : # _index = 5
  print(_output[:_index+1])

else:
  for i in range(3,_index + 1):
    next_value = _output[-1] + _output[-2] +_output[-3] # negative index
    _output.append(next_value)

  print(_output)

# 10:10 PM.

# Example , _index = 1
# _output = [0,1,2]
# print(_output[:_index+1])
# _output[:2]--> [0,1]


# Example , _index = 5
# _output = [0,1,2]
# range(3,6) --> 3,4,5 : i
# Iterations
# I1
# i = 3
# next_value = _output[-1] + _output[-2] +_output[-3] # negative index
# _output[-1] = 2 + _output[-2] = 1 + _output[-3] = 0 = 3
# next_value = 3
  # _output.append(next_value)
  # _output  = [0,1,2,3]

# I2
# i = 4
# next_value = _output[-1] = 3 + _output[-2] = 2 +_output[-3] = 1
# next_value = 6
 # _output.append(next_value)
  # _output  = [0,1,2,3,6]

# I3
# i = 5
# next_value = _output[-1] = 6 + _output[-2] = 3 +_output[-3] = 2
# next_value = 11
# _output.append(next_value)
  # _output  = [0,1,2,3,6,11]

# Input : _index = 5 | till 5th index enhanced fibonacci series
# Output = [0,1,2,3,6,11]

Enter the index till which you want fibonacci series:1
[0, 1]

In [ ]:
33+ 56+ 101

190

In [ ]:
'''
The series is a sequence of numbers where each number is starting from 10, 11 & 12.
The series begins as follows:

# Fibonacci Series : 10, 11, 12, 33, 56, 101, 190 ,...
# input = 0 , fibonacci_output = [10]
# input = 1 , fibonacci_output = [10,11]
# input = 2 , fibonacci_output = [10,11,12]
# input = 3 , fibonacci_output = [10, 11, 12, 33]
# input = 4 , fibonacci_output = [10, 11, 12, 33, 56]
# input = 5 , fibonacci_output = [10, 11, 12, 33, 56, 101] #
'''

In [ ]:
# test
_index  = 1

_output = [0,1,2]
_output[:_index+ 1] # [:3] [:2] # 0,1

[0, 1]

In [ ]:
# Question 7 : # nested for loop :  Nested For loop | Tricky | Take the help of chatgpt and understand
'''
Given a list of integers, write a Python code that generates and
prints all possible sublists of the given list.
A sublist is defined as a contiguous segment of the list.

input_list = [23, 45, 67, 56]
Output =

[23]
[23, 45]
[23, 45, 67]
[23, 45, 67, 56]
[45]
[45, 67]
[45, 67, 56]
[67]
[67, 56]
[56]

Sequential Sublists
# DNA pattern matching
'''
input_list = [23, 45, 67, 56]

for i in range(len(input_list)): # range(4) --> 0,1,2,3 | i = 0 | i = 1 | i = 2 | i = 3
  _output = [input_list[i]] # [input_list[0]] [23]
  print(_output)
  for j in range(i+1,len(input_list)): # range(1,4)--> 1,2,3 | range(2,4) --> 2,3 | range(3,4) --> 3 | range(4,4)
    _output.append(input_list[j])
    print(_output)

[23]
[45]
[67]
[56]

In [ ]:
list(range(4,4))

[]

In [ ]:
# for i in range
#.   for j in range
# first all iterations of j will be completed then it will go back to i

In [ ]:
input_list = [23, 45, 67, 56]
for i in range(len(input_list)):
  for j in range(i+1, len(input_list)+1):
    print(input_list[i:j])

[23]
[23, 45]
[23, 45, 67]
[23, 45, 67, 56]
[45]
[45, 67]
[45, 67, 56]
[67]
[67, 56]
[56]

In [ ]:
input_list = [23, 45, 67, 56]
_lst=[]
for i in range(len(input_list)):
  for j in range(1):
    _lst.extend(input_list[i:])
    for k in range(len(_lst)):
      print(_lst[:k+1])
    _lst=[]

[23]
[23, 45]
[23, 45, 67]
[23, 45, 67, 56]
[45]
[45, 67]
[45, 67, 56]
[67]
[67, 56]
[56]

In [ ]:
'''
Given a list of integers, write a Python function that generates and
prints max values of each possible sublists of the given list.
A sublist is defined as a contiguous segment of the list.

input_list = [23, 45, 67, 56]
Output =
23,
45,
67,
67,
45,
67,
67,
67,
67,
56

Logic -

[23] --> 23
[23, 45] --> 45
[23, 45, 67] --> 67
[23, 45, 67, 56] --> 67
[45] --> 45
[45, 67] --> 67
[45, 67, 56] --> 67
[67] --> 67
[67, 56] --> 67
[56] --> 56

'''